<p style="color: green"><%= notice %></p>

<%= render @cart_product %>

<div>
  <%= link_to "Edit this cart product", edit_cart_product_path(@cart_product) %> |

  <%= button_to "Destroy this cart product", @cart_product, method: :delete %>
</div>
