<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buongiorno et bienvenue sur Coppa & Gabana !</h1>
    <p>
      Tu t'es inscrit en utilisant l'e-mail suivant : <%= @user.email %>. 
      Tu fais désormais partie de la communauté et tu vas te régaler dans les mois à venir.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> Ciao, <%= @user.first_name %></p>
  </body>
</html>
