<div class="w-11/12 grid grid-cols-2 gap-8 items-center bg-cover bg-center relative rounded-t-lg mt-8" style="background-image: url('<%= asset_path("products/header background.jpg") %>'); height: 400px;">
  <div class="col-span-1">
    <div class="flex flex-col p-8">
        <div class="z-10 p-6 text-start">
        <h1 class="text-4xl font-bold text-white mb-4">Le meilleur de la charcuterie Sicilienne</h1>
        <div class="mt-10">
            <%= link_to 'Andiamo!', products_path, class: 'btn btn-secondary' %>
        </div>
        </div>
    </div>
  </div>
  <!-- Second column (empty for now) -->
  <div class="col-span-1"></div>
</div>

