<footer class="bg-neutral-700 shadow dark:bg-neutral-700">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <%= link_to products_path, class: 'flex  space-x-3 rtl:space-x-reverse text-white' do %>
          <div class="w-16 h-16 fill-current text-white">
            <%= image_tag 'logos/logo_small.svg', alt: 'Logo' %>
          </div>
          <span class="self-center text-2xl font-sans whitespace-nowrap text-white">Coppa & Gabana</span>
        <% end %>

        <ul class="flex flex-wrap my-2 mb-6 text-sm font-medium text-white sm:mb-0">
        <li>
            <%= mail_to 'hello@coppaandgabana', class: 'hover:underline' do %>
            Contact
            <% end %>
        </li>
        </ul>

        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-neutral-700 lg:my-8" />
        <span class="block text-sm text-white sm:text-center">© 2023 <a href="#" class="hover:underline">Coppa & Gabana™</a>. All Rights Reserved.</span>
    </div>
</footer>