<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @admin.first_name%></h1>
    <p>
      Cet email est une confirmation qu'un achat supplementaire vient d'avoir lieu sur la plateforme.
    </p>
    <p>
      Pour accéder à ton espace admin et vérifier les informatins de cette dernière, connecte-toi via : <%= @url %>.
    </p>
    <p> Ciao, <%= @user.first_name %> & "in Prosciutto we trust"</p>
  </body>
</html>
