<%= form_with(model: ordrer) do |form| %>
  <% if ordrer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ordrer.errors.count, "error") %> prohibited this ordrer from being saved:</h2>

      <ul>
        <% ordrer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
