<p style="color: green"><%= notice %></p>

<h1>Ordrers</h1>

<div id="ordrers">
  <% @ordrers.each do |ordrer| %>
    <%= render ordrer %>
    <p>
      <%= link_to "Show this ordrer", ordrer %>
    </p>
  <% end %>
</div>

<%= link_to "New ordrer", new_ordrer_path %>
