<%= form_tag(products_path, method: :get, id: 'filter-form') do %>
  <div class="flex flex-row justify-center py-4">
    <% Product.distinct.pluck(:category).each do |category| %>
      <div class="flex items-center ps-4 border border-gray-200 rounded px-4 mx-4">
        <%= check_box_tag "category_ids[]", category, params[:category_ids]&.include?(category), id: "#{category.parameterize}_checkbox", class: "w-4 h-4 text-amber-500 bg-gray-100 border-gray-300 rounded focus:ring-amber-500 dark:focus:ring-amber-500 focus:ring-2" %>
        <label for="<%= "#{category.parameterize}_checkbox" %>" class="w-full py-4 ms-2 text-sm font-medium text-gray-900"><%= category %></label>
      </div>
    <% end %>
  </div>
  
  <%# submit_tag "Filter", class: "bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded" %>
<% end %>
