<div class="flex flex-col justify-center items-center">
  <h1 class=" my-4">Products</h1>


  <%= render partial: "checkboxes"%>

  <%= link_to "New product", new_product_path, class: "btn btn-primary my-4" %>

  <div id="products">
    <% @products.each do |product| %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product %>
      </p>
    <% end %>
  </div>



</div>