<div id="<%= dom_id order_product %>">
  <p>
    <strong>Orders:</strong>
    <%= order_product.orders %>
  </p>

  <p>
    <strong>Products:</strong>
    <%= order_product.products %>
  </p>

</div>
