<h1>Editing order product</h1>

<%= render "form", order_product: @order_product %>

<br>

<div>
  <%= link_to "Show this order product", @order_product %> |
  <%= link_to "Back to order products", order_products_path %>
</div>
